{% spaceless %}
	{% set locale = craft.app.locale() %}
	{% set sites = craft.app.sites.getAllSites() %}
	{% set locales = sites|map(s => s.language)|join(',') %}

	{% if craft.app.getuser and craft.app.getuser.getIdentity and craft.app.getuser.getIdentity.can('accessCp') %}
		{% header "Cache-Control: private, no-cache" %}
	{% endif %}

	<!DOCTYPE html>
	<html lang="{{ locale.id }}" data-all-langs="{{ locales }}" data-version="{{ craft.build.package.version }}.{{ craft.build.build.lastBuild }}">
		<head>
			{% block metadata %}{% include "_partials/metadata.twig" %}{% endblock %}
			{% block canonical %}<link rel="canonical" href="{{ entry.url }}" />{% endblock %}
			{% include "_masters/favicon.twig" %}
			{% include "_masters/alternates.twig" %}
			{% include "_masters/fonts.twig" %}
			{% include "_masters/css.twig" %}
			{% include "_masters/utils/livereload.twig" %}
			{% include "_lib/gtm-head" %}
			{% block head %}{% endblock %}
		</head>
		<body class="min-w-min">
			{% include "_lib/gtm-body" %}
			{% include "_masters/sr-nav.twig" %}
			<div id="site">
				{% block siteHeader %}{% include "_site/header" %}{% endblock %}
				<div id="pages">
					<div class="page" data-page-url="{{ entry.url }}">
						{% block page %}{% endblock %}
					</div>
				</div>
				{% block siteFooter %}{% include "_site/footer" %}{% endblock %}
			</div>
			{% include "_masters/js.twig" %}
			{% include "_lib/admin.twig" %}
		</body>
	</html>
	<!-- cache-stamp: {{ 'now'|date('Y-m-d\\TH:i')}} -->
{% endspaceless %}
